body{
  background-color: #9b0404;
  padding-left: 10px;
}


.whitebody{
background: #fcfafa;

padding-left: 15px;
padding-right: 200px;
padding-top: 35px;
padding-bottom: 20px;
}

.blackbody{
background-color: #3d3935;

padding-top: 15px;
padding-bottom: 25px;

}

.greybody{
background-color: #e9eff1; 
padding-left: 10px;
padding-right: 10px;
padding-bottom: 70px;
}

p{
padding: 10px;
}

p {
font: normal 100% Cambria,Georgia,"Times New Roman",Times,serif;
}

h2 {
color: #b30000;
text-align: left;
padding: 10px;
}


table, th, td {
border-collapse: collapse;
border-radius: 4px;
border: 1px solid #b1aeae;

table-layout: fixed;
/*background-color: #e1eaea;*/
padding: 0px;
margin: 2px 0;

}

td{
width: 30% ;
padding: 12px;
}
th {
text-align: left;
width: 20% ;
padding: 9px;
background-color: #d9d9d9;
height: 5px;

}

input{
padding: 13px;
width: 70% ;
  margin: 3px 0;
  box-sizing: border-box;
  border-radius: 3px;
border: 1px solid #c4c4c4;

}

h3 {
color: #b30000;
text-align: left;
padding: 10px;


}

button {
padding: 10px 20px;
background-color: #b30000;
color: white;
font-size: 14px;
margin: 4px;

}

#background {
  background-color: #9b0404;   
}

